{% extends "base.html" %}
{% block titulo %}SalsaQuest | Timba{% endblock %}
{% block content %}

<header class="py-4 text-center">
    <div class="p-4 rounded-4 card-glass border-secondary shadow hero-glass-box">
        <h1 class="neon-title" data-text="Timba">Timba</h1>
        <p class="hero-slogan-pulse mb-0">El ritmo cubano que lo cambió todo</p>
    </div>
</header>

<!-- TIMBA -->
<section id="timba-section" class="mb-5 mt-4">
    <div id="timba-container">
        <div class="text-center py-4"><div class="spinner-border text-warning" role="status"></div></div>
    </div>
</section>

{% endblock %}
